@inherits DownloadFormBase
<h3>DownloadForm</h3>


<div class="sitecards">
    
    <RadzenCard Style="width:45%; margin-bottom: 20px; height:500px;">
        <div class="col-md-5">
            <RadzenTemplateForm TItem="SearchDTO" Data="SearchParameters" Submit="@DocumentSearch">
                <div class="row">
                    <RadzenLabel Text="Contract type:" />
                    <RadzenDropDown @bind-Value="SelectedType" Data="DocumentTypes" Placeholder="Select contract type" Name="TypeSelect"></RadzenDropDown>
                </div>

                <div class="row">
                    <h5>Uploaded between:</h5>
                </div>
                <div class="row">
                    <RadzenLabel Text="From:" />
                    <RadzenDatePicker @bind-Value="SearchParameters.From" DateFormat="d" />
                </div>
                <div class="row">
                    <RadzenLabel Text="Until:" />
                    <RadzenDatePicker @bind-Value="SearchParameters.Until" DateFormat="d" />
                </div>

                <div class="row">
                    <RadzenLabel Text="Search for tag:" />
                    <RadzenTextBox @bind-Value="SearchParameters.TagName" />
                </div>
                <div class="row">
                    <RadzenButton ButtonType="ButtonType.Submit" Text="Search"></RadzenButton>
                    </div>
            </RadzenTemplateForm>
            </div>
    </RadzenCard>

    <RadzenCard Style="width:45%; margin-bottom: 20px; height:500px;">
        <EditForm Model="FileGuid">
            <div class="row">
                <RadzenListBox AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" @bind-Value=@FileGuid Data=@DocumentFiles TextProperty="DocumentName" ValueProperty="UniqueId"
                               Style="height:25vw; width: 25vw" />
            </div>
            @if (FileGuid != Guid.Empty)
            {
                ///TODO: Make an api call that works in the same way
                ///
                <div class="row">
                    <RadzenButton Click="DocumentDownload">Download</RadzenButton>
                </div>
            }
        </EditForm>

    </RadzenCard>
</div>


