@inherits IndexNavComponentBase

<div class="row">
    <RadzenButton Style="margin: 20px; width: 150px" Click="NavUpload">
        Upload
    </RadzenButton>
    <RadzenButton Style="margin: 20px; width: 150px" Click="NavDownload">
        Download
    </RadzenButton>
    <RadzenButton Style="margin: 20px; width: 150px" Click="NavGenerate">
       Generate
    </RadzenButton>
</div>
