@page "/"
@using Doctrim.App.Components
@using Doctrim.App.Pages 

<div class="row">
    <RadzenButton Style="margin-bottom: 20px; width: 150px" >
    <NavLink  href="UploadDocument">
        Upload
    </NavLink>
        </RadzenButton>
    <RadzenButton Style="margin-bottom: 20px; width: 150px">
        <NavLink href="DownloadDocument">
            Download
        </NavLink>
        </RadzenButton>
</div>

